* {
  font-family: Arial;
}

body {
  background-image: url('../Images/img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
table {
  color: #033FF1;
  width: 75%
}

td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

button {
  margin-left: 30%;
  width: 20%;
}
